
/*共通部分*/
.section {
    padding: 70px 0;
}


/*タイトルのところ*/
#section-intro {
    background-color: #8d0000;
}

.section__title1 {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 1.0;
    text-align: center;
    color: white;
}


.section__text {
    font-size: 3vmin;
    text-align: center;
    color: white;
    line-height: 1.8;
    display: none;/*----*/
}

/*Twitter埋め込み*/
.twitter {
    text-align: center;
}

.twitter-timeline {
    
}


/*活動記録のところ*/
#section-main {
    background-color: white;
}

.common-inner-main {
    margin: 50px 10%;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
}

.common-inner-text {
    text-align: left;
    margin: 20px 0;
}


/*フッター*/
.page-footer {
    padding: 25px 0;
    background-color: #8d0000;
}

.page-footer__copyrigth {
    text-align: center;
    color: white;
}