
/*共通部分*/
.section {
    padding: 70px 40px;
}


/*タイトルのところ*/
#section-intro {
    background-color: #8d0000;
}

.section__title1 {
    margin-bottom: 50px;
    font-size: 2.4rem;
    line-height: 1.0;
    text-align: center;
    color: white;
}


.section__text {
    text-align: center;
    color: white;
    line-height: 1.8;
}

@media (max-width: 768px) {
    .section__text {
        text-align: left;
        color: white;
        line-height: 1.8;
    }
}

/*　制作したもの　*/

.section-main-title {
    text-align: center;
    font-size: 30px;
}

.shirowaku2 {
    margin: 40px 0 0 0;
    padding: 0;
    color: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 20%);
    background-color: rgb(48, 48, 48);
}

.shirowaku2 div {
    padding: 10px;
}

.shirowaku2 img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.shirowaku3 {
    margin: 0;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / 20%);
    color: #fff;
    background-color: rgb(48, 48, 48);
    font-size: large;
    font-weight: bold;
}



/*フッター*/
.page-footer {
    padding: 25px 0;
    background-color: #8d0000;
}

.page-footer__copyrigth {
    text-align: center;
    color: white;
}